/**
 * Extend the Default luma theme
 * Custom LESS
 */
& when (@media-common = true) {

  @full_width: 100%;

  @768:~"only screen and (min-width: 768px)";
  @767:~"only screen and (max-width: 767px)";
  @640:~"only screen and (max-width: 640px)";  
  @640m:~" (min-width: 640px)";
  @560:~"only screen and (max-width: 560px)";
  @480:~"only screen and (max-width: 480px)";

  @1054max:~"only screen and (max-width: 1054px)";
  @imp: !important;

  //color
  @black: #000 @imp;
  @green: #80b036 @imp;
  @grey-border: #cccccc;
  @red: red;
  .display {
    display: none;
  }
  .center {
    text-align: center;
  }
  .inline {
    display: inline-block;
  }
  @dotted: 1px dotted #ccc;

  body {
    font-family: Arial;
  }
  h1 {
    color: @green;
  }
  //General elements
  .fa:before {
    font-size: 24px;
    padding: 15px;
  }

  .demo-tooltip {
    .lib-tooltip(bottom);
  }

  .breadcrumbs {
    margin-top: 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 11px;

    a {
      &, &:visited {
        color: green;
      }
    }
  }

  hr {
    border-top: 1px dotted @grey-border @imp;
    margin: 0 5%;
  }

  q {
    quotes: '\201c' '\201d' @imp;
    &:before {
      content: open-quote @imp;
    }
    &:after {
      content: close-quote @imp;
    }
  }

  .fa {
    &:before {
      font-size: 24px;
      padding: 15px;
    }
  }
  ._keyfocus *, input:not([disabled]),textarea:not([disabled]), select:not([disabled]) {
    &:focus {
      box-shadow: none @imp;
    }
  }
  button:not(.primary) {
	box-shadow: none @imp;
  }

  /* -coloring */
  button {
    &:not(.action-edit):not(.switch):not(.action-close):not(.action-hide-popup):not(.action-show):not(.search):not(.action.close) {
      &:not(#btn-minicart-close):not(.action-cancel), &:hover, &:focus, &:active {
        background: @red @imp;
        border-color: @red @imp;
        color: #fff @imp;
      }
    }
  }
  .commonred {
    background: @red;
    border-color: @red;
    color: #fff;
  }
  .action.primary
  {
    &:active, &:focus, &:hover {
      .commonred
    }
  }
  .opc-progress-bar-item._active {
    &:before, &>span:before {
      .commonred
    }
  }
  .opc-progress-bar-item._complete>span {
	color: #666;
  }
  .minicart-wrapper {
    .action.showcart {
      .counter.qty {
        background: @red;
      }
    }
	.counter-number {
		text-shadow: none @imp;
	}
  }
  .checkout-payment-method, .payment-option-title, .action-toggle,
  .paypal-review-discount .cart-discount .block>.title strong,
  .gift-item-block .title, .cart-discount .block>.title strong,
  .cart-summary .action.multicheckout, button.action-cancel  {
    color: @black;
  }
  .action.remind {
    &:active {
      .action-toggle
    }
  }
  a {
    &.create, &.continue, &.estateButton {
      color: #fff @imp;
    }
  }
  //Signup link

  .header.links {
    a {
      @media @768 {
        color: #fff @imp;
      }
    }
    .welcome {
      @media @767 {
        .display
      }
    }
  }

  //Header

  //Panel Wrapper - topMenu
  .page-header {
    .panel.wrapper {
      border-bottom: 0 @imp;
      background-color: @green;
      color: #fff;
      .header.panel {
        padding-bottom: 4px @imp;
        padding-top: 4px @imp;

        //search
        .block-search {
          @media @768 {
            width: 160px @imp;
          }
          @media @767 {
            .display
          }
          input {
            border-radius: 2px @imp;
            &:focus {
              box-shadow: none @imp;
            }
          }
        }
        //End
        //mini cart
        .minicart-wrapper {
          @media @767 {
			position: absolute;
			top: 18px;
			right: 55px;
			z-index: 2;
          }
            margin-left: 10px;
            .action.showcart {
              &:before {
				@media @768 {
                content: 'cart' @imp;
                color: #fff @imp;
                font-size: 14px @imp;
                text-transform: uppercase;
                font-family: Arial @imp;
                line-height: 30px;
                padding-top: 1px;
				}
              }
			  .loader {
				visibility: hidden;
			  }
            }
			.action.close {
				/* color: #fff; */
			}
        }
        //logo
        .logo {
          @media @767 {
            .display
          }
          margin: 0 @imp;
          position: absolute @imp;
          top: 0;
          img {
            width: auto;
            max-height: 98px;
            @media @1054max {
              margin-top: 44px;
            }
          }
        }
        //End
        //top links
        > .header.links {
          @media @768 {
            padding: 6px 0px @imp;
            > li {
              font-size: 14px;
              text-transform: uppercase;
              margin: 0 0 0 10px;
              &:not(:first-child):not(.customer-welcome) {
                &:after {
                  content: "|";
                  margin: 0 -5px 0 2px;
                }
              }
              &:last-child {
                &:after {
                  padding-left: 4px;
                }
              }
			  &.welcome {
				margin-top: 1px;
				}
			.customer-menu {
				li a {
				color: @black;
				&:hover {
					background: @green;
					color: #fff @imp;
					}
				}
			}
            }
          }
        }
      }//End header.panel
    }//End Panel.wrapper
    .header.content {
      @media @768 {
        .display
      }
    }
  }//End page-header
  //Navigation
  .navigation .level-top {
      &:not(:first-child):not(.nav-3):not(.nav-4) {
        a.level-top {
          pointer-events: none;
        }
        &.nav-1 li.level1 {
          &:not(.nav-1-3) > a{
              pointer-events: none;
          }
        }
        &.nav-5 li.level1 > a {
          pointer-events: none;
        }
      }
	  @media @767 {
		  a {
			color: #575757;
		  }
	  }
  }
  .nav-sections {
    @media @768 {
      background: @black;
      padding: 4px 0px;
      margin-bottom: 0 @imp;
      .navigation {
        background: transparent @imp;
        ul {
          float: right;
          margin-left: 265px;
          li.level0 {
            &:not(:last-child) {
              &:after {
                content: "|";
              }
            }
          }
        }
        .level0 {
          margin: 0 0px 0 0;
          > .level-top {
            font-weight: 100;
              color: #fff @imp;
              text-transform: uppercase;
              padding: 0 10px;
              &.active, &.has-active {
                border-color: @red;
              }
          }
          .submenu a {
            color: @black;
            &:hover, &.ui-state-active {
              background: @green;
              color: #fff @imp;
            }
          }
        }
      }//End Navigation
    }
  }//End nav-sections

  //Message Box
  .message.success {
    color: @green;
    & >*:first-child:before {
      color: @green;
    }
  }

  //Page Title
  .page-title-wrapper {
    margin-top: 15px;
  }

  //Home
  .cms-home {
    .page-main {
      max-width: @full_width @imp;
      padding: 0 @imp;
      .page-title-wrapper {
        .display
      }
    }
  }

  //CMS Blocks
  .stepThree {
    width: 100%;
    text-align: center;
    p {
      display: inline-block;
      overflow: auto;
      span {
        float: left;
        text-align: left;
        &:nth-child(even) {
          margin-top: 20px;
          margin-right: 30px;
        }
        @media @767 {
          &:nth-child(odd) {
            clear: both;
          }
        }
      }
    }
  }
  #container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    .column {
      @media @768 {
        width: 40%;
      }
    }
  }

  #button-container {
    width: 100%;
    margin: 0 auto;

    a {
      padding: 15px 40px;
      text-transform: uppercase;
      color: #fff @imp;
      background: @red;
      border-radius: 5px;
      text-decoration: none;
      margin: 0 10px;
      @media @767 {
        padding: 15px 0px;
        width: 300px;
        margin-bottom: 5px;
      }
      .inline
    }
    .center
  }

  /*  */
  .blackBox {
    background: #000;
    padding: 5%;
    color: #fff;

    h1 {
      color: #fff;
    }

    .center
  }

  .coloredBoxes {
    padding: 5%;
    background-color: #fff; /* For browsers that do not support gradients */
    background-image: linear-gradient(@green 50%, #fff 50%);
    h1 {
      margin: 10px 10px;
    }

    .center
  }

  .estateButton {
    padding: 15px 40px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff @imp;
    background: @red;
    border-radius: 5px;
    text-decoration: none @imp;
    cursor: pointer;
    h3 {
      margin: 0 @imp;
    }
    .inline
  }
  .brands-logo {
    margin-top: 25px @imp;
    span {
      @media @768 {
        display: inline-block;
      }
    }
    .center
  }
  /* Slider Content Box */
  .owl-carousel-custom-1 {
    .owl-stage-outer {
      padding: 0 @imp;
      .banner-item {
        .content_slider {
          left: 0 @imp;
          .buttons {
            text-align: left @imp;
            .custom_content {
              font-size: 40px;
              padding: 50px;
              @media @767 {
                font-size: 24px;
                padding: 30px;
              }
              background: rgba(0, 0, 0, 0.4);
              @media @560 {
                .display
              }
              .inline
            }
          }
        }
      }
    }
  }

  // Slider Category Teaser
  .owl-carousel-custom-2 {
    .banner-item {
      padding: 20%;
      padding-top: 170px;
      .content_slider {
        top: 0 @imp;
        .custom_content {
          color: #000 @imp;
          font-size: 16px;
          h1 {
            margin-bottom: 10px @imp;
          }
        }
      }
    }
    @media @560 {
      .content_slider {
        left: 10px @imp;
        .custom_content {
          font-size: 14px @imp;
          h1 {
            font-size: 18px;
          }
        }
      }
    }
  }

  // Prod Slider
  .owl-carousel-custom-3 {
    .banner-item {
      padding: 20%;
      padding-bottom: 31px;
      border-bottom: 1px dotted @grey-border @imp;
      margin: 30px 10%;
      .banner-image img {
        height: 200px @imp;
      }
      .content_slider {
        top: 0 @imp;
          .custom_content {
            color: #000 @imp;
            h1 {
              margin: 10px 0px @imp;
            }
          }
      }
    }
  }

  //Category Page
  // Product Listing
  .list-box {
    font-size: 16px;
    .qty-price {
      label {
        float: left;
        margin-top: 10px;
      }
      input:focus {
        box-shadow: none;
      }
      .product-item-inner {
        float: left;
		margin-bottom: 15px;
        .inline
      }
      .inline
    }
	@media @480 { body:not(.categorypath-products-moving-boxes-plain):not(.categorypath-products-branded-realtor-branded-boxes) & {
			margin-left: -65px;
		}
	}
  }
  .qty-price input, .box-tocart .input-text.qty {
    float: left;
    width: 50px;
    height: 40px;
    margin-left: 15px;
    border-radius: 4px;
    margin-right: 30px;
    border: 2px solid #ccc;
    margin-top: 3px;

    .center
  }
  .multi-price {
    margin-left: 20px;
    font-size: 14px;
	float: left;
    .label {
      float: left;
      color: #80b036;
      text-align: right;
      margin-right: 15px;
      border-right: 1px dotted #ccc;
      padding-right: 10px;
    }
    .qty-label {
      float: left;
      color: grey;
    }
    .prices {
      float: left;
      color: grey;
      margin-left: 15px;
    }
  }
  .extra-box {
    clear: both;
    border-top: 1px dotted @grey-border;
    width: 75%;
    margin-top: 20px;
    padding-top: 10px;
    text-transform: uppercase;
    /* color: grey; */
    /* margin-right: 25px; */
    span {
      &:not(:last-child) {
        margin-right: 10px;
        border-right: 1px dotted @grey-border;
        padding-right: 10px;
      }
    }
  }
  .extra-box > span,
  .extra-box > a {
      visibility: hidden;
  }
  .product-item-description {
    width: 80%;
    .action.more {
        .display
    }
    .categorypath-products-moving-boxes-plain &, .categorypath-products-branded-realtor-branded-boxes & {
        width: auto;
        max-width: 700px;
    }
  }
  .product-item-actions {
	.actions-primary {
		display: inline-block @imp;
	}
  }
  /* Disable elements */
  .products-list {
    .price-box {
      /* .display */
	  .price-label {
	    font-size: 14px;
		font-weight: bold;
	  }
	  .price {
		color: @red;
	  }
    }
    .product-image-wrapper {
      border: 1px solid @grey-border;
      border-radius: 4px;
    }
  }
  a {
    &.towishlist, &.tocompare {
      display: none @imp;
    }
  }
  .categorypath-products-moving-boxes-plain, .categorypath-products-branded-realtor-branded-boxes {
	.multi-price {
		.display
	}
	.price-box {
		display: block;
	}
  }
  h1.product-item-name {
	  &, & a {
		color: @green;
		text-decoration: none @imp;
	  }
  }
  .product-item {
    .tocart {
      border-radius: 4px;
      padding: 15px;
    }
  }
//Prod Detail Page
  .product-add-form {
    .overview table {
        .display
    }
    .multi-price {
        float: left;
        margin-top: 20px; 
    }
    .extra-box span {
        &:not(:last-child) {
            margin-right: 20px;
            padding-right: 20px;
        }
    }
	.product-options-wrapper {
		.note, .options-list.nested {
			.display
		}
	}
  }

  .catalog-product-view {
    .block-margin.row {
      clear: both;
      .block-actions {
        .display
      }
    }
    .products {
      &-related {
        .owl-controls, .owl-nav.fullscreen, .block-title, .price-box, .choice.related {
          .display
        }
      }
      &-reviews-summary.empty, &-social-links {
        .display
      }
    }
	.price-wrapper .price {
		color: @red;
	}
  }
	.link.wishlist,.action-towishlist, .price-box {
	.display
	}
  /* Boxtocart */
  .box-tocart {
    width: 265px;
    float: left;
    margin-bottom: 15px;
    .qty label {
      float: left;
      margin-top: 10px @imp;
      font-size: 16px;
      /* font-weight: normal !important; */
    }
    .control {
      float: left;
    }
    .actions {
      button.tocart {
        width: @full_width;
		#product-updatecart-button {//update Cart button
			margin-top: -22px;
		}
        .inline
      }
      .inline
    }
    .inline
  }

  //Page Bottom
  .page-bottom {
    padding: 0 @imp;
    max-width: none @imp;
    margin: 0 @imp;
    h1 {
      margin-bottom: 15px;
    }
    .widget {
      &:first-child {
        background: #000;
        padding: 35px 0px;
        .threeBox {
          a {
            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
      .questBox {
        padding: 20px 0;
      }
    }
    .center
  }
  // Product detail tabs
  table.tabTable {
    border: 1px solid #ccc;
    max-width: 700px;
    td {
      .catalog-category-view & {
          padding: 5px;
      }
      &:not(last-child) {
          border-right: 1px solid #ccc @imp;
      }
    }
    tr {
      &:last-child, &:first-child {
        font-weight: bold;
      }
    }
    .center
  }
  tr {
    .product.data.items &, table.tabTable & {
      border: 1px solid #ccc;
      &:nth-child(even) {
        background: #e8e8e8;
      }
      th {
        padding: 7px 15px @imp;
        border-right: 1px solid #ccc @imp;
      }
    }
  }
  .product-reviews-summary.empty,
  .product-social-links {
    display: none !important;
  }
  /* -checkout Page */
  .checkout-container {
    margin: 0 0 20px;
    margin-top: 30px;
  }

  .checkout-index-index {
    .action-auth-toggle {
      .display
    }
    .nav-sections {
      display: block;
    }
    .logo img {
      /* height: 90px; */
    }
	.checkout-agreement {
		margin-top: 15px;
		.action-show {
			&, &:hover {
				color: @black;
				text-decoration: none; 
			}
		}
		.action-show:hover {
			background: #fff @imp;
		}
	}
	.action-hide-popup, .action-close {
		color: @black;
		text-decoration: none;	
	}
  }

//CMS Page
  /*2-column right*/
  .page-layout-2columns-right, .catalog-category-view,
  .categorypath-products-moving-boxes-plain,
  .categorypath-products-branded-realtor-branded-boxes  {
    .page-title-wrapper {
      .page-title {
        margin-bottom: 0;
      }
    }
    .category-view {
      .display
    }
    .column.main {
      //clear: both;
      //border-top: 1px dotted @grey-border !important;
      //margin: 0 0%;
    }
    .sidebar-additional {
      .block-products-list {
        margin-bottom: 0px @imp;
        .block-title {
          color: @green;
        }
        .product-item {
          margin-bottom: 0;
          .product-item-info {
			.product-item-photo {
				position: relative @imp;
			}
            &:hover {
              .product-item-photo {
                top: 0px @imp;
                left: 0px @imp;
              }
            }
          }
        }
        .product-item-details {
			margin: 0 @imp; 
          .product-item-name {
            .display
          }
        }
        .product-item-actions {
          .actions-primary {
            width: @full_width;
            .tocart {
              width: @full_width;
              border-radius: 4px;
            }
          }
        }
      }
	  .estateButton {
		max-width: 240px;
      }
      .center
    }
    .estateButton {
        padding: 15px 10px;
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: bold;
        width: 90%;
		max-width: 300px;
    }
  }
/* layout-1column */
  .page-layout-1column {
    .cmsTable {
      width: 80%;
      margin: 0 auto;
      td {
          img {
              padding-top: 30px;
          }
      }
      .estateButton.green {
          background: @green;
      }
      p {
          width: 80%;
      }
      h2 {
          color: #000 @imp;
      }
      hr {
          //margin: 0 auto @imp;
          //width: 80%;
      }
    }
    .toolbar-products, .sidebar-additional {
      .display
    }
  }

/* Custom Form */
  #customboxesPost {
      max-width: 620px;
      label {
          font-weight: bold;
      }
      input,textarea,select {
          margin: 10px 0;
      }
      #customboxesSubmit {
          padding: 15px 30px;
      }
  }
/* Contact form */
  form.contact {
      margin-top: 30px;
	  .note.no-label {
	  .display
	  }
  }

//Footer
  .page-footer {
    background: @green;
    .container {
      max-width: 1200px;
      .col-sm-3 {
        @media @768 {
          float: left;
        }
        padding: 0px 25px;
        height: 115px;
        margin-top: 15px;
        color: #fff;
        &:not(:last-child) {
          @media @768 {
            border-right: @dotted;
          }
          @media @767 {
            border-bottom: @dotted;
          }
        }
        a {
          color: #fff @imp;
        }
        h4 {
          text-transform: uppercase;
        }
        .center
      }
      .inline
    }
    .center
  }
  .footer.content {
    .links {
      a {
        color: #fff @imp;
        text-decoration: none @imp;
      }
    }
  }
  .copyright {
    margin-top: 5px;
    padding: 20px @imp;
    background-color: @black;
	a {
		&, &:hover {
			color: #fff @imp;
			font-size: 14px;
			}
	}
	span.seprator {
		color: #fff;
	}
  }
  @media @767 {
    //Menu link
    .nav-sections-item-switch {
      color: @black;
    }
    .navigation .level0 {
      &> .level1 {

      }
      .all-category {
        .display
      }
    }
	.product.data.items>.item.content {
		padding-left: 2px;
	}
  }
  @media @640 {
	  .product-item-actions {
		display: inline-block;
	  }
  }
	@media @640m {
	 .products-grid {
		.product-item-info:hover, .product-item-info.active {
			box-shadow: none @imp;
			border: 0;
			margin: 0;
			padding: 0;
			}
		.product-image-container {
			max-width: 235px @imp;
			}
		}
	}
}

