/**
 * Infortis/ultimo_child
 * Custom CSS fallback
 * app/design/frontend/Infortis/ultimo_child/web/css/_custom.less
 */
& when (@media-common = true) {
  @full_width: 100%;
  //@imp: !important;

  //color
  @black: #000;
  @green: #80b036;

  .display {
    display: none;
  }
  body {
    font-family: Georgia,Times,Times New Roman,serif ;
  }
  .page-header .panel.wrapper {
    background-color: @green !important;
    color: #fff;
  }
}