.page-header .panel.wrapper {
    background-color: #80b036 !important;
    color: #fff;
}
.page-header .header.panel {
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}
.page-main {
    max-width: 100% !important;
    padding: 0 !important;
}

/* Element moved in header panel so this need to hide */
.header.content {
    display: none;
}

.block-search {
    width: 160px !important;
}

.minicart-wrapper .action.showcart {}
.minicart-wrapper .action.showcart:before {
    content: 'cart' !important;
    color: #fff !important;
    font-size: 16px !important;
    text-transform: uppercase;
    font-family: initial !important;
    line-height: 30px;
    padding-top: 3px;
}

.logo {
    margin: 0 !important;
    position: absolute !important;
    top: 0;
}
.logo img {
    /*min-width: 282px; */
    height: 110px;
    width: 100%;
}

.header.panel > .header.links {
    padding: 6px 0px !important;
}
.header.panel > .header.links > li {
    font-size: 16px;
    text-transform: uppercase;
}
.header.panel .header.links li:not(:first-child):after {
    content: "|";
}
/* Ul list main menu need to set
.navigation .ui-menu .submenu {
    margin-top: 10px;
} */
.navigation .level0 .submenu a { color: #000000 !important; }
.navigation .level0 .submenu a:hover {
    background: #80b036 !important;
    color: #fff !important;
}

.header.panel .header.links li:last-child:after {
    padding-left: 10px;
}

/* to remove line between header panel and navigation*/
.page-header .panel.wrapper { border-bottom: 0 !important;}
.nav-sections {
    background: #000000 !important;
    padding: 10px 0px;
    margin-bottom: 0 !important;
}
body:not(cms-home) .nav-sections {
    padding: 8px 0px;
    padding-bottom: 6px;
}
.navigation {
    background:transparent !important;
}
.navigation ul {
    float: right;
}
.navigation ul li.level0:not(:last-child):after {
    content: "|";
}
.navigation .level0 > .level-top {  color: #fff !important;  }

/* Footer */
.footer.content .links a {
    color: #fff !important;
    text-decoration: none !important;
}

.container .col-sm-3 {
    width: 25%;
    float: left;
    text-align: center;
    color: #fff;
}
.container .col-sm-3 a {
    color: #fff;
}
.container .col-sm-3 h4 {
    text-transform: uppercase;
}
.copyright {
    margin-top: 5px;
    padding: 20px !important;
    background-color: #000 !important;
}